<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="Styles.css" />
    <title>Registro del Cliente</title>
</head>
<body>
    <div class="box">
        <form>
            <span class="text-center">Inicio de Sesión</span>
            <div class="input-container">
                <input type="text" required="" />
                <label>Numero de Cuenta</label>
            </div>
            <div class="input-container">
                <input type="password" required="" />
                <label>Clave de Acceso</label>
            </div>
            <button type="button" class="btn">submit</button>
        </form>
    </div>

</body>
</html>