<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="Styles.css" />
    <title>Registro del Cliente</title>
</head>
<body>
    <header id="topnav">
        <div>
          <img src="./assets/fiusac_logo.png" alt="Logo de Facultad" height="70">
        </div>
        <div id="titulo_pag" style="text-align: center;">
            <h1 style="text-align: center;">INGRESO</h1>
        </div>
    </header>
    
   

<!--
        FOOTER NO TOCARRR
    -->
    <footer>
        <div id="General_footer">
        <div id="">
            <h4>Byron Estuardo Caal Catún - 201901907 ©</h4>
        </div>
        <div id="curso">
            <h4>Introducción a la Programación y Computación II - Vacaciones Diciembre 2020</h4>
        </div>
    </div>
    </footer>
</body>
</html>